*{
	margin: 0;
	padding: 0;
    font-family: sans-serif;
}
.desplegable{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  background-color: white;
}

body{
	background-color: #914226;
	
}
.btn-escuela{
	padding: 10px 20px;
	background-color: #000000;
	color: #fff;
	border: none;
	border-radius: 15px;
	font-size: 18px;
	cursor: pointer;
}

.caja-titulo{
	display: flex;
	justify-content: center;
}
.titulo{
display: flex;
width: 90%;
height: 40vh;
background-color: 914226;
justify-content: center;
align-items: center;
}

h1{
	justify-content: center;
align-items: center;
text-align: center;
}

.desplegable-content{
    margin: 0;
	cursor: pointer;
    display: flex;
	flex-direction: column;
	align-items: center;
}
a{
	text-decoration: none;
	color: #000000;
	font-size: 18px;
}
h1{
	font-size: 50px;
}

button {
	margin: 10px;
	padding: 30px 30px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 50%;
	font-size: 16px;
	cursor: pointer;
}

.titulo{
    text-align: center;

}
.padre-instrumentos{
	flex-direction:row ;
	display: flex;
	justify-content:center ;
	align-items: center;
}

.instrumentos-caja{
flex-direction: row;
display: flex;
justify-content: center;
align-items: center;
width: 75%;
height: 20vh;
background-color: #914226;
}

p{
	font-size: 18px;
	text-align: center;
}







/* Piano CSS Carlos*/


* { box-sizing:border-box; }

ul {
    height:18.875em; width:34em;
  margin:5em auto; padding:3em 0 0 3em; position:relative; 
  border:1px solid #160801; border-radius:1em; 
  background:(linear, right bottom, left top, (0%,rgba(0,0,0,0.3)), (100%,rgba(0,0,0,0))), url('https://f.cl.ly/items/2q1f3t0C3R1b0g081w3n/vwood.png')}
li { margin:0; padding:0; list-style:none; position:relative; float:left; }

ul .white {
    height:16em; width:4em; z-index:1;
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
    border-radius:0 0 5px 5px;
    background: linear-gradient(top, #eee 0%,#fff 100%);
    text-align: center;
    
}

ul .white:active {
    border-top:1px solid #777;
    border-left:1px solid #999;
    border-bottom:1px solid #999;
    background: linear-gradient(top, #fff 0%,#e9e9e9 100%);
}

.black {
    height:8em; width:2em; margin:0 0 0 -1em; z-index:2;
    border:1px solid #000;
    border-radius:0 0 3px 3px;
    background:linear-gradient(45deg, #222 0%,#555 100%);
    text-align: center;
    color: white;
}

.black:active {
    background:linear-gradient(left, #444 0%,#222 100%);
}

.a,.g,.f,.d,.c { margin:0 0 0 -1em;  }

ul li:first-child { border-radius:5px 0 5px 5px; }
ul li:last-child { border-radius:0 5px 5px 5px; }


.white {
    background-color: white !important;
}
.set {
    background-color: #9E6721;
}



